<MudForm Model="@_model" @ref="@_form">
    <MudGrid Class="mb-5">
        <MudItem xs="4">
            <MudTextField @bind-Value="@_model.Name" Label="Name" Variant="Variant.Outlined" For="() => _model.Name" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="@_model.ChallengeRating" Label="Challenge" Variant="Variant.Outlined" For="() => _model.ChallengeRating" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="@_model.HitPoints" Label="Hit Points" Variant="Variant.Outlined" For="() => _model.HitPoints" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="@_model.ArmorClass" Label="Armor Class" Variant="Variant.Outlined" For="() => _model.ArmorClass" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudTextField @bind-Value="@_model.Speed" Label="Speed" Variant="Variant.Outlined" For="() => _model.Speed" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>

        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.Strength" TextChanged="_model.StrengthChanged" Label="Strength" Variant="Variant.Outlined" For="() => _model.Strength" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.Dexterity" TextChanged="_model.DexterityChanged" Label="Dexterity" Variant="Variant.Outlined" For="() => _model.Dexterity" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.Constitution" TextChanged="_model.ConstitutionChanged" Label="Constitution" Variant="Variant.Outlined" For="() => _model.Constitution" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.Intelligence" TextChanged="_model.IntelligenceChanged" Label="Intelligence" Variant="Variant.Outlined" For="() => _model.Intelligence" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.Wisdom" TextChanged="_model.WisdomChanged" Label="Wisdom" Variant="Variant.Outlined" For="() => _model.Wisdom" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.Charisma" TextChanged="_model.CharismaChanged" Label="Charisma" Variant="Variant.Outlined" For="() => _model.Charisma" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>

        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.StrengthBonus" Variant="Variant.Outlined" Label="Bonus" For="() => _model.StrengthBonus" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.DexterityBonus" Variant="Variant.Outlined" Label="Bonus" For="() => _model.DexterityBonus" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.ConstitutionBonus" Variant="Variant.Outlined" Label="Bonus" For="() => _model.ConstitutionBonus" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.IntelligenceBonus" Variant="Variant.Outlined" Label="Bonus" For="() => _model.IntelligenceBonus" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.WisdomBonus" Variant="Variant.Outlined" Label="Bonus" For="() => _model.WisdomBonus" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="2">
            <MudNumericField @bind-Value="_model.CharismaBonus" Variant="Variant.Outlined" Label="Bonus" For="() => _model.CharismaBonus" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>

        <MudItem xs="12" Class="d-flex align-items-center">
            <MudText Class="fw-bold" Typo="Typo.h5">Actions</MudText> 
            <MudFab Class="ml-3" StartIcon="@Icons.Filled.Add" Color="Color.Success" Size="Size.Small" OnClick="() => _model.Actions.Add(new BaseAction())"/>
        </MudItem>
        @foreach (var action in _model.Actions)
        {
            <MudItem xs="12" Class="d-flex">
                <MudTextField Class="m-2" @bind-Value="action.Name" Label="Name" For="() => action.Name"/>
                <MudTextField Class="m-2 w-50" @bind-Value="action.Description" Label="Description" For="() => action.Description"/>
                <MudTextField Class="m-2" @bind-Value="action.Hit" Label="Hit" For="() => action.Hit"/>
                <MudTextField Class="m-2" @bind-Value="action.Range" Label="Range" For="() => action.Range"/>
                <MudTextField Class="m-2" @bind-Value="action.Damage" Label="Damage" For="() => action.Damage"/>
                <MudSelect Class="m-2" Style="width: 150px;" T="DamageType" @bind-Value="@action.DamageType" Label="Type" For="() => action.DamageType">
                    @foreach (var type in Enum.GetValues<DamageType>())
                    {
                        <MudSelectItem Value="@type">@type.GetStringValue()</MudSelectItem>
                    }
                </MudSelect>
                <MudIconButton Class="mx-2 my-auto" Icon="@Icons.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" OnClick="() => _model.Actions.Remove(action)"/>
            </MudItem>
            <MudItem xs="12" Class="p-0">
                <hr/>
            </MudItem>
        }

        <MudItem xs="4">
            <MudSelect T="string" Label="Vulnerabilities" MultiSelection="true" SelectedValues="_model.Vulnerabilities.Select(x => x.GetStringValue())"
                SelectedValuesChanged="args => SelectedValuesChanged(args, nameof(_model.Vulnerabilities))">
                @foreach (var type in _damageTypes)
                {
                    <MudSelectItem T="string" Value="@type"/>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="4">
            <MudSelect T="string" Label="Immunities" MultiSelection="true" SelectedValues="_model.Immunities"
                       SelectedValuesChanged="args => SelectedValuesChanged(args, nameof(_model.Immunities))">
                @foreach (var type in _damageTypes)
                {
                    <MudSelectItem T="string" Value="@type"/>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="4">
            <MudSelect T="string" Label="Resistances" MultiSelection="true" SelectedValues="_model.Resistances"
                       SelectedValuesChanged="args => SelectedValuesChanged(args, nameof(_model.Resistances))">
                @foreach (var type in _damageTypes)
                {
                    <MudSelectItem T="string" Value="@type"/>
                }
            </MudSelect>
        </MudItem>

        <MudItem xs="5">
            <MultipleEntityDropdown TEntity="ForcePowerResponse" @bind-SelectedIds="_model.ForcePowerIds" Label="Force Powers"/>
        </MudItem>
        <MudItem xs="1">
            <MudNumericField @bind-Value="@_model.ForcePoints" Label="FP" For="() => _model.ForcePoints" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>
        <MudItem xs="5">
            <MultipleEntityDropdown TEntity="TechPowerResponse" @bind-SelectedIds="_model.TechPowerIds" Label="Tech Powers"/>
        </MudItem>
        <MudItem xs="1">
            <MudNumericField @bind-Value="@_model.TechPoints" Label="TP" For="() => _model.TechPoints" Validation="@(_creatureValidator.ValidateValue)"/>
        </MudItem>

        <Submit @bind-Loading="@_loading" CancelRef="creatures" OnClick="OnSubmit"/>
    </MudGrid>
</MudForm>
<div style="height: 500px"></div>