@page "/creatures/add"
@attribute [Authorize]

<h1>Add Creature</h1>
<EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="row my-2">
        <div class="form-group col-4">
            <label>Name</label>
            <InputText @bind-Value="@_model.Name" class="form-control" />
            <ValidationMessage For="@(() => _model.Name)" />
        </div>
        <div class="form-group col-2">
            <label>Challenge</label>
            <InputNumber @bind-Value="@_model.ChallengeRating" class="form-control" />
            <ValidationMessage For="@(() => _model.ChallengeRating)" />
        </div>
        <div class="form-group col-2">
            <label>Hit Points</label>
            <InputNumber @bind-Value="@_model.HitPoints" class="form-control" />
            <ValidationMessage For="@(() => _model.HitPoints)" />
        </div>
        <div class="form-group col-2">
            <label>Armor Class</label>
            <InputNumber @bind-Value="@_model.ArmorClass" class="form-control" />
            <ValidationMessage For="@(() => _model.ArmorClass)" />
        </div>
        <div class="form-group col-2">
            <label>Speed</label>
            <InputText @bind-Value="@_model.Speed" class="form-control" />
            <ValidationMessage For="@(() => _model.Speed)" />
        </div>
    </div>
    <div class="row my-2">
        <div class="form-group col">
            <label>Strength</label>
            <InputNumber Value="@_model.Strength" ValueChanged="@( (int i) => _model.StrengthChanged(i) )" ValueExpression="() => _model.Strength" class="form-control" />
            <ValidationMessage For="@(() => _model.Strength)" />
        </div>
        <div class="form-group col">
            <label>Dexterity</label>
            <InputNumber Value="@_model.Dexterity" ValueChanged="@( (int i) => _model.DexterityChanged(i) )" ValueExpression="() => _model.Dexterity" class="form-control" />
            <ValidationMessage For="@(() => _model.Dexterity)" />
        </div>
        <div class="form-group col">
            <label>Constitution</label>
            <InputNumber Value="@_model.Constitution" ValueChanged="@( (int i) => _model.ConstitutionChanged(i) )" ValueExpression="() => _model.Constitution" class="form-control" />
            <ValidationMessage For="@(() => _model.Constitution)" />
        </div>
        <div class="form-group col">
            <label>Intelligence</label>
            <InputNumber Value="@_model.Intelligence" ValueChanged="@( (int i) => _model.IntelligenceChanged(i) )" ValueExpression="() => _model.Intelligence" class="form-control" />
            <ValidationMessage For="@(() => _model.Intelligence)" />
        </div>
        <div class="form-group col">
            <label>Wisdom</label>
            <InputNumber Value="@_model.Wisdom" ValueChanged="@( (int i) => _model.WisdomChanged(i) )" ValueExpression="() => _model.Wisdom" class="form-control" />
            <ValidationMessage For="@(() => _model.Wisdom)" />
        </div>
        <div class="form-group col">
            <label>Charisma</label>
            <InputNumber Value="@_model.Charisma" ValueChanged="@( (int i) => _model.CharismaChanged(i) )" ValueExpression="() => _model.Charisma" class="form-control" />
            <ValidationMessage For="@(() => _model.Charisma)" />
        </div>
    </div>
    <div class="row my-2">
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.StrengthBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.StrengthBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.DexterityBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.DexterityBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.ConstitutionBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.ConstitutionBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.IntelligenceBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.IntelligenceBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.WisdomBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.WisdomBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.CharismaBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.CharismaBonus)" />
        </div>
    </div>
    <div class="row my-2 d-flex">
        <div class="col">
            <h3>Actions</h3>
        </div>
        <div class="flex-column">
            <button type="button" class="btn btn-success" @onclick="(() => _model.Actions.Add(new BaseAction()))">
                <span class="oi oi-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    @foreach (var action in _model.Actions)
    {
        <div class="row my-2 d-flex">
            <div class="form-group col-2">
                @if (_model.Actions.First() == action)
                {<label>Name</label>}
                <InputText @bind-Value="@action.Name" class="form-control" />
                <ValidationMessage For="@(() => action.Name)" />
            </div>
            <div class="form-group col-6">
                @if (_model.Actions.First() == action)
                {<label>Description</label>}
                <InputText @bind-Value="@action.Description" class="form-control" />
                <ValidationMessage For="@(() => action.Description)" />
            </div>
            <div class="form-group col">
                @if (_model.Actions.First() == action)
                {<label>Hit</label>}
                <InputText @bind-Value="@action.Hit" class="form-control" />
                <ValidationMessage For="@(() => action.Hit)" />
            </div>
            <div class="form-group col">
                @if (_model.Actions.First() == action)
                {<label>Range</label>}
                <InputText @bind-Value="@action.Range" class="form-control" />
                <ValidationMessage For="@(() => action.Range)" />
            </div>
            <div class="form-group col">
                @if (_model.Actions.First() == action)
                {<label>Damage</label>}
                <InputText @bind-Value="@action.Damage" class="form-control" />
                <ValidationMessage For="@(() => action.Damage)" />
            </div>
            <div class="form-group col mt-auto align-self-end">
                <button type="button" class="btn btn-danger" @onclick="(() => _model.Actions.Remove(action))">
                    <span class="oi oi-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    }
    <div class="row my-2">
        <div class="form-group col">
            <label>Vulnerabilities</label>
            <MultipleEntityDropdown TEntity="DamageTypeResponse" @bind-SelectedIds="_model.VulnerabilityIds"/>
        </div>
        <div class="form-group col">
            <label>Immunities</label>
            <MultipleEntityDropdown TEntity="DamageTypeResponse" @bind-SelectedIds="_model.ImmunityIds"/>
        </div>
        <div class="form-group col">
            <label>Resistances</label>
            <MultipleEntityDropdown TEntity="DamageTypeResponse" @bind-SelectedIds="_model.ResistanceIds"/>
        </div>
    </div>
    <div class="row my-2">
        <div class="form-group col">
            <label>Force Powers</label>
            <MultipleEntityDropdown TEntity="ForcePowerResponse" @bind-SelectedIds="_model.ForcePowerIds"/>
        </div>
    </div>
    <div class="form-group">
        <button disabled="@_loading" class="btn btn-primary">
            @if (_loading)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Save
        </button>
        <NavLink href="creatures" class="btn btn-link">Cancel</NavLink>
    </div>
</EditForm>
