@page "/weapons"
@attribute [Authorize]
@inject IApiService ApiService
@inject NavigationManager NavigationManager

@if (_loading)
{
    <LightsaberLoad />
}
else
{
    <MudTable Items="@_weapons" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info"
        Dense="true" Striped="true" Filter="new Func<Weapon,bool>(SearchWeapon)">
        <ToolBarContent>
            <MudText Class="fw-bold" Typo="Typo.h3">Weapon Properties</MudText>
            <MudFab Class="ml-3" StartIcon="@Icons.Filled.Add" Color="Color.Success" OnClick="@(() => NavigationManager.NavigateTo("weaponproperties/add"))"/>
            <MudSpacer />
            <MudTextField @bind-Value="search" Placeholder="Search" Adornment="Adornment.Start" Immediate=true AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"/>
        </ToolBarContent>
        <ColGroup>
            <col />
            <col style="width: 150px;"/>
        </ColGroup>
        <HeaderContent>
            <MudTh Class="mud-theme-tertiary text-white">Name</MudTh>
            <MudTh Class="mud-theme-tertiary text-white"/>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd>
                <div class="d-flex justify-content-end">
                    <MudIconButton Icon="@Icons.Filled.Edit" OnClick="() => EditProperty(context.Id)" Variant="Variant.Filled" Color="Color.Primary" Class="mx-1"/>
                    <MudIconButton Icon="@Icons.Filled.Delete" OnClick="() => RemoveProperty(context)" Variant="Variant.Filled" Color="Color.Error" Class="mx-1"/>
                </div>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
}

@code {
    private bool _loading = true; 
    private string search;
    private List<Weapon>? _weapons;

    protected override async Task OnInitializedAsync()
    {
        await RefreshWeapons();
        await base.OnInitializedAsync();
    }

    private async Task RemoveProperty(Weapon weapon)
    {
        if (_weapons == null)
            return;
        _weapons.Remove(weapon);
        await ApiService.RemoveEntity<Weapon>(weapon.Id);
    }

    private async Task RefreshWeapons()
    {
        _weapons = await ApiService.GetAllEntities<Weapon>();
        _loading = false;   
    }

    private void EditProperty(Guid id)
    {
        NavigationManager.NavigateTo($"weapons/edit/{id}");   
    }

    private bool SearchWeapon(Weapon weapon)
    {
        if (string.IsNullOrWhiteSpace(search))
            return true;
        if (weapon.Name.Contains(search, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}