@page "/characters/add"
@attribute [Authorize]

<h1>Add Character</h1>
<EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="row my-2">
        <div class="form-group col">
            <label>Name</label>
            <InputText @bind-Value="@_model.Name" class="form-control" />
            <ValidationMessage For="@(() => _model.Name)" />
        </div>
        <div class="form-group col">
            <label>Player</label>
            <InputText @bind-Value="@_model.PlayerName" class="form-control" />
            <ValidationMessage For="@(() => _model.PlayerName)" />
        </div>
        <div class="form-group col">
            <label>Class</label>
            <InputText @bind-Value="@_model.Class" class="form-control" />
            <ValidationMessage For="@(() => _model.Class)" />
        </div>
    </div>
    <div class="row my-2">
        <div class="form-group col">
            <label>Level</label>
            <InputNumber @bind-Value="@_model.Level" class="form-control" />
            <ValidationMessage For="@(() => _model.Level)" />
        </div>
        <div class="form-group col">
            <label>Hit Points</label>
            <InputNumber @bind-Value="@_model.HitPoints" class="form-control" />
            <ValidationMessage For="@(() => _model.HitPoints)" />
        </div>
        <div class="form-group col">
            <label>Armor Class</label>
            <InputNumber @bind-Value="@_model.ArmorClass" class="form-control" />
            <ValidationMessage For="@(() => _model.ArmorClass)" />
        </div>
        <div class="form-group col">
            <label>Speed</label>
            <InputText @bind-Value="@_model.Speed" class="form-control" />
            <ValidationMessage For="@(() => _model.Speed)" />
        </div>
    </div>
    <div class="row my-2">
        <div class="form-group col">
            <label>Strength</label>
            <InputNumber Value="@_model.Strength" ValueChanged="@( (int i) => _model.StrengthChanged(i) )" ValueExpression="() => _model.Strength" class="form-control" />
            <ValidationMessage For="@(() => _model.Strength)" />
        </div>
        <div class="form-group col">
            <label>Dexterity</label>
            <InputNumber Value="@_model.Dexterity" ValueChanged="@( (int i) => _model.DexterityChanged(i) )" ValueExpression="() => _model.Dexterity" class="form-control" />
            <ValidationMessage For="@(() => _model.Dexterity)" />
        </div>
        <div class="form-group col">
            <label>Constitution</label>
            <InputNumber Value="@_model.Constitution" ValueChanged="@( (int i) => _model.ConstitutionChanged(i) )" ValueExpression="() => _model.Constitution" class="form-control" />
            <ValidationMessage For="@(() => _model.Constitution)" />
        </div>
        <div class="form-group col">
            <label>Intelligence</label>
            <InputNumber Value="@_model.Intelligence" ValueChanged="@( (int i) => _model.IntelligenceChanged(i) )" ValueExpression="() => _model.Intelligence" class="form-control" />
            <ValidationMessage For="@(() => _model.Intelligence)" />
        </div>
        <div class="form-group col">
            <label>Wisdom</label>
            <InputNumber Value="@_model.Wisdom" ValueChanged="@( (int i) => _model.WisdomChanged(i) )" ValueExpression="() => _model.Wisdom" class="form-control" />
            <ValidationMessage For="@(() => _model.Wisdom)" />
        </div>
        <div class="form-group col">
            <label>Charisma</label>
            <InputNumber Value="@_model.Charisma" ValueChanged="@( (int i) => _model.CharismaChanged(i) )" ValueExpression="() => _model.Charisma" class="form-control" />
            <ValidationMessage For="@(() => _model.Charisma)" />
        </div>
    </div>
    <div class="row my-2">
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.StrengthBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.StrengthBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.DexterityBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.DexterityBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.ConstitutionBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.ConstitutionBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.IntelligenceBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.IntelligenceBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.WisdomBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.WisdomBonus)" />
        </div>
        <div class="form-group col">
            <InputNumber @bind-Value="@_model.CharismaBonus" class="form-control" />
            <ValidationMessage For="@(() => _model.CharismaBonus)" />
        </div>
    </div>
    <div class="row my-2">
        <div class="form-group col-5">
            <label>Force Powers</label>
            <MultipleEntityDropdown TEntity="ForcePowerResponse" @bind-SelectedIds="_model.ForcePowerIds" />
        </div>
        <div class="form-group col">
            <label>Points</label>
            <InputNumber @bind-Value="@_model.ForcePoints" class="form-control" />
        </div>
        <div class="form-group col-5">
            <label>Tech Powers</label>
            <MultipleEntityDropdown TEntity="TechPowerResponse" @bind-SelectedIds="_model.TechPowerIds"/>
        </div>
        <div class="form-group col">
            <label>Points</label>
            <InputNumber @bind-Value="@_model.TechPoints" class="form-control" />
        </div>
    </div>
    <div class="row my-2">
        <button disabled="@_loading" class="btn btn-primary">
            @if (_loading)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Save
        </button>
        <NavLink href="characters" class="btn btn-link">Cancel</NavLink>
    </div>
</EditForm>
