@page "/encounters/view/{Id}"
@using DMAdvantage.Shared
@inject DialogService DialogService

@if (_model != null)
{
    <div class="row my-2">
        <div class="col">
            <h1>@_model.Name</h1>
        </div>
        <div class="col d-flex align-items-end">
            <text>Auto Load:</text>
            <RadzenSwitch @bind-Value="@_autoLoad"/>
        </div>
    </div>
    <ConcentrationPowerGrid @bind-ConcentrationPowers=@_concentrationPowers FromView="true"/>
    <div class="row mb-2">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #D1CFCE">
                        <th>Init</th>
                        <th>Name</th>
                        <th>AC</th>
                        <th>HP</th>
                        <th>FP</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var init in _initatives)
                    {
                        <tr style="@GetRowStyle(init)">
                            <td width="10%">@init.Initative</td>
                            <td width="50%">@init.Name</td>
                            <td width="10%">@init.ArmorClass</td>
                            <td width="20%" style="color: @init.GetHPColor()"><b>@init.GetHPDisplay()</b></td>
                            <td width="10%"><b>@init.ForcePoints</b></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            @if (_currentPlayer?.Being is CharacterResponse character)
            {
                <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client" style="margin-bottom: 10px">
                    <Tabs>
                        <RadzenTabsItem Text="Basic">
                            <div class="row mb-2">
                                <div class="col">Name: @_currentPlayer?.Name</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    Player: @character.PlayerName
                                </div>
                                <div class="col">
                                    Class: @character.Class
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    AC: <b>@_currentPlayer?.Being?.ArmorClass</b>
                                </div>
                                <div class="col">
                                    Initiative: <b>@_currentPlayer?.Being?.DexterityBonus.PrintInt()</b>
                                </div>
                                <div class="col">
                                    Proficiency: <b>@character.GetProficiencyBonus().PrintInt()</b>
                                </div>
                                <div class="col">
                                    Speed: @_currentPlayer?.Being?.Speed
                                </div>
                            </div>
                            <div class="d-flex mb-2 align-items-center">
                                <div class="me-2">
                                    HP:
                                </div>
                                @if (_currentPlayer?.Being != null)
                                {
                                    <RadzenProgressBar @bind-Value=@_currentPlayer.HPAsDouble Max=@_currentPlayer.Being.HitPoints ShowValue="false" class="me-2" style="width: 200px;"/>
                                }
                                <div class="me-4">
                                    @_currentPlayer?.CurrentHP/@_currentPlayer?.Being?.HitPoints
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    STR: @_currentPlayer?.Being?.Strength
                                </div>
                                <div class="col">
                                    DEX: @_currentPlayer?.Being?.Dexterity
                                </div>
                                <div class="col">
                                    CON: @_currentPlayer?.Being?.Constitution
                                </div>
                                <div class="col">
                                    INT: @_currentPlayer?.Being?.Intelligence
                                </div>
                                <div class="col">
                                    WIS: @_currentPlayer?.Being?.Wisdom
                                </div>
                                <div class="col">
                                    CHA: @_currentPlayer?.Being?.Charisma
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    (<b>@_currentPlayer?.Being?.StrengthBonus.PrintInt()</b>)
                                </div>
                                <div class="col">
                                    (<b>@_currentPlayer?.Being?.DexterityBonus.PrintInt()</b>)
                                </div>
                                <div class="col">
                                    (<b>@_currentPlayer?.Being?.ConstitutionBonus.PrintInt()</b>)
                                </div>
                                <div class="col">
                                    (<b>@_currentPlayer?.Being?.IntelligenceBonus.PrintInt()</b>)
                                </div>
                                <div class="col">
                                    (<b>@_currentPlayer?.Being?.WisdomBonus.PrintInt()</b>)
                                </div>
                                <div class="col">
                                    (<b>@_currentPlayer?.Being?.CharismaBonus.PrintInt()</b>)
                                </div>
                            </div>
                            @if (_currentPlayer?.Being is CharacterResponse skillChar)
                            {
                                <div class="row">
                                    <div class="col">
                                        Save: <b>@skillChar.SkillBonus(skillChar.StrengthBonus, skillChar.StrengthSave).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Save: <b>@skillChar.SkillBonus(skillChar.DexterityBonus, skillChar.DexteritySave).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Save: <b>@skillChar.SkillBonus(skillChar.ConstitutionBonus, skillChar.ConstitutionSave).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Save: <b>@skillChar.SkillBonus(skillChar.IntelligenceBonus, skillChar.IntelligenceSave).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Save: <b>@skillChar.SkillBonus(skillChar.WisdomBonus, skillChar.WisdomSave).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Save: <b>@skillChar.SkillBonus(skillChar.CharismaBonus, skillChar.CharismaSave).PrintInt()</b>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col">
                                        Acrobatics: <b>@skillChar.SkillBonus(skillChar.DexterityBonus, skillChar.Acrobatics).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Investigation: <b>@skillChar.SkillBonus(skillChar.IntelligenceBonus, skillChar.Investigation).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Persuasion: <b>@skillChar.SkillBonus(skillChar.CharismaBonus, skillChar.Persuasion).PrintInt()</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Animal Handling: <b>@skillChar.SkillBonus(skillChar.WisdomBonus, skillChar.AnimalHandling).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Lore: <b>@skillChar.SkillBonus(skillChar.IntelligenceBonus, skillChar.Lore).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Piloting: <b>@skillChar.SkillBonus(skillChar.IntelligenceBonus, skillChar.Piloting).PrintInt()</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Athletics: <b>@skillChar.SkillBonus(skillChar.StrengthBonus, skillChar.Athletics).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Medicine: <b>@skillChar.SkillBonus(skillChar.WisdomBonus, skillChar.Medicine).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Sleight Of Hand: <b>@skillChar.SkillBonus(skillChar.DexterityBonus, skillChar.SleightOfHand).PrintInt()</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Deception: <b>@skillChar.SkillBonus(skillChar.CharismaBonus, skillChar.Deception).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Nature: <b>@skillChar.SkillBonus(skillChar.IntelligenceBonus, skillChar.Nature).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Stealth: <b>@skillChar.SkillBonus(skillChar.DexterityBonus, skillChar.Stealth).PrintInt()</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Insight: <b>@skillChar.SkillBonus(skillChar.WisdomBonus, skillChar.Insight).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Perception: <b>@skillChar.SkillBonus(skillChar.WisdomBonus, skillChar.Perception).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Survival: <b>@skillChar.SkillBonus(skillChar.WisdomBonus, skillChar.Survival).PrintInt()</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Intimidation: <b>@skillChar.SkillBonus(skillChar.CharismaBonus, skillChar.Intimidation).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Performance: <b>@skillChar.SkillBonus(skillChar.CharismaBonus, skillChar.Performance).PrintInt()</b>
                                    </div>
                                    <div class="col">
                                        Technology: <b>@skillChar.SkillBonus(skillChar.IntelligenceBonus, skillChar.Technology).PrintInt()</b>
                                    </div>
                                </div>
                            }
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Actions">
                            @foreach (var weapon in character.Weapons)
                            {
                                <RadzenCard class="p-2">
                                    <div class="row">
                                        <div class="col-4">
                                            @weapon.Name
                                        </div>
                                        <div class="col-2">
                                            @character.WeaponBonus(weapon.Melee).PrintInt()
                                        </div>
                                        <div class="col-2">
                                            @weapon.Damage@character.WeaponBonus(weapon.Melee, true).PrintInt()
                                        </div>
                                        <div class="col-4">
                                            @weapon.DamageType
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        @foreach (var prop in weapon.PropertyDescriptions)
                                        {
                                            <RadzenButton Text="@prop.ToString()" Click=@(() => ShowInlineDialog(prop)) Size="ButtonSize.Small" class="m-1 px-1"/>
                                        }
                                    </div>
                                </RadzenCard>
                            }
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="ForcePowers">
                            @if (_currentPlayer?.Being is CharacterResponse characterForce)
                            {
                                <div class="row mb-2 align-items-center">
                                    <div class="col"></div>
                                    <div class="col">
                                        <text>Light</text>
                                    </div>
                                    <div class="col">
                                        <text>Universal</text>
                                    </div>
                                    <div class="col">
                                        <text>Dark</text>
                                    </div>
                                </div>
                                <div class="row mb-2 align-items-center">
                                    <div class="col">
                                        <text>Modifier</text>
                                    </div>
                                    <div class="col">
                                        <text><b>@characterForce.ForceAttackModifier(ForceAlignment.Light).PrintInt()</b></text>
                                    </div>
                                    <div class="col">
                                        <text><b>@characterForce.ForceAttackModifier(ForceAlignment.Universal).PrintInt()</b></text>
                                    </div>
                                    <div class="col">
                                        <text><b>@characterForce.ForceAttackModifier(ForceAlignment.Dark).PrintInt()</b></text>
                                    </div>
                                </div>
                                <div class="row mb-2 align-items-center">
                                    <div class="col">
                                        <text>Save DC</text>
                                    </div>
                                    <div class="col">
                                        <text><b>@characterForce.ForceSavingThrow(ForceAlignment.Light)</b></text>
                                    </div>
                                    <div class="col">
                                        <text><b>@characterForce.ForceSavingThrow(ForceAlignment.Universal)</b></text>
                                    </div>
                                    <div class="col">
                                        <text><b>@characterForce.ForceSavingThrow(ForceAlignment.Dark)</b></text>
                                    </div>
                                </div>
                            }
                            <div class="d-flex mb-2 align-items-center">
                            <div class="me-5">
                                FP: <b>@_currentPlayer?.CurrentFP/@_currentPlayer?.Being?.ForcePoints</b>
                            </div>
                        </div>
                        <div class="row mb-2 align-items-end" style="font-size: x-large">
                            <b>Force Powers</b>
                        </div>
                        <ForcePowerGrid Title="At-Will" Powers=@SelectedForcePowers.Where(x => x.Level == 0).ToList() Initative=@_currentPlayer ShowCast=false />
                        <ForcePowerGrid Title="Level 1" Powers=@SelectedForcePowers.Where(x => x.Level == 1).ToList() Initative=@_currentPlayer ShowCast=false />
                        <ForcePowerGrid Title="Level 2" Powers=@SelectedForcePowers.Where(x => x.Level == 2).ToList() Initative=@_currentPlayer ShowCast=false />
                        <ForcePowerGrid Title="Level 3" Powers=@SelectedForcePowers.Where(x => x.Level == 3).ToList() Initative=@_currentPlayer ShowCast=false />
                        <ForcePowerGrid Title="Level 4" Powers=@SelectedForcePowers.Where(x => x.Level == 4).ToList() Initative=@_currentPlayer ShowCast=false />
                        <ForcePowerGrid Title="Level 5" Powers=@SelectedForcePowers.Where(x => x.Level == 5).ToList() Initative=@_currentPlayer ShowCast=false />
                        <ForcePowerGrid Title="Level 6" Powers=@SelectedForcePowers.Where(x => x.Level == 6).ToList() Initative=@_currentPlayer ShowCast=false />
                        <ForcePowerGrid Title="Level 7" Powers=@SelectedForcePowers.Where(x => x.Level == 7).ToList() Initative=@_currentPlayer ShowCast=false />
                        <ForcePowerGrid Title="Level 8" Powers=@SelectedForcePowers.Where(x => x.Level == 8).ToList() Initative=@_currentPlayer ShowCast=false />
                        <ForcePowerGrid Title="Level 9" Powers=@SelectedForcePowers.Where(x => x.Level == 9).ToList() Initative=@_currentPlayer ShowCast=false />
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        }
        </div>
    </div>
}

@code
{
    async Task ShowInlineDialog(WeaponDescription weapon)
    {
        await DialogService.OpenAsync(weapon.Name, _ =>
            @<div>
                <p Style="margin-bottom: 1rem">@StaticData.WeaponPropertyDescriptions[Enum.Parse<WeaponProperty>(weapon.Name ?? string.Empty)]</p>
            </div>);
    }
}
