<MudDialog>
    <DialogContent>
        <MudContainer Style="max-height: 500px; overflow-y: scroll">
            <div class="d-flex flex-column">
                <text><b>Alignment:</b> @ForcePower.Alignment</text>
                <text><b>Concentration:</b> @ForcePower.Concentration</text>
                <text><b>Hit:</b> @ForcePower.HitOption?.GetStringValue()</text>
                @if (!string.IsNullOrWhiteSpace(ForcePower.HitDescription))
                {
                    <div><b>Description:</b> @ForcePower.HitDescription</div>
                }
                <text><b>Casting Time:</b> @ForcePower.CastingPeriod.GetStringValue()</text>
                <text><b>Range:</b> @ForcePower.Range.GetStringValue()</text>
                <text><b>Duration:</b> @ForcePower.Duration</text>
                <br/>
                <text>@ForcePower.Description</text>
                @if (!string.IsNullOrEmpty(ForcePower.Potency))
                {
                    <br/>
                    <div><b>Potency:</b> @ForcePower.Potency</div>
                }
            </div>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public ForcePowerResponse ForcePower { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
}
